<% title 'Succés' %>
<% og_title 'Succés' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 margin-t-40">
      <div class="alert alert-success">
        <i class="fa fa-check"></i> Merci, votre formulaire a bien été envoyé.<br />
        Vous pouvez revenir à l'accueil : <%= link_to 'en cliquant ici', root_path %>
      </div>
    </div>
  </div>
</div>